
.player1{
    background-Color: rgb(124,252,0)
}
 .player2 {
background-Color: rgb(250,128,114)
}
.square {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid black;
  height: 60px;
  width: 60px;
  font-size: 30px;
  font-family: Helvetica,
}
.square:hover {
  background-color: lightgray;
}