 td {
  border: 1px solid black;
  display: table-cell;
  vertical-align: center;
  height: 60px;
  width: 60px;
  font-size: 30px;
  font-family: Helvetica
}


.player1{
    background-Color: rgb(124,252,0)
}
 .player2 {
background-Color: rgb(250,128,114)
}